section {
    background-image: linear-gradient(to left,rgb(111, 232, 141),orange);
    height: 100vh;

}

h1 {
    color: rgb(55, 37, 190);
    font-size: 2em;
    font-style: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;;
}

input::placeholder {
    color: rgb(53, 48, 216);
    font-size: 1.2em;
    font-style: bold;
  }

  .btn-md {
    font-size: 25px;
    line-height: 1.33;
    border-radius: 6px;
  }
  #Llenar {
    margin: 0 auto;
    align-items: center;
    align-content: center;
    width: auto;
    display: block;
    text-align: center;
    width: auto;
    display: block;

